/* -------------- CSS RESET --------------- */

* {
    box-sizing: border-box;
    font-family: 'Bree Serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* -------------- JUDUL --------------- */

#judul {
    height: 10vh;
    box-shadow: 0 2px 15px -2px #000;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
}

.container-judul {
    padding: 10px;
    margin: auto;
    position: sticky;
    max-width: 1100px;
    align-items: center;
    display: flex;
}

#judul h1 {
    margin-left: 5px;
    color: #037903;
}

.container-judul input {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    border: 2px solid #037903;
}

.container-judul i {
    font-size: 25px;
    color: #037903;
    padding-left: 5px;
}

/* -------------- HASIL SEARCH --------------- */

#list {
    margin-top: 10vh;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    display: flex;
    width: 350px;
    height: 700px;;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px;
}

.book h4 {
    text-align: center;
}

.book h6 {
    text-align: center;
    color: gray;
}

.book img {
    height: 500px;
    padding: 5px;
}